<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/DayGod13">Toby</a>. A new web developer and TPM. 
  </p>
  <br />
  <p>
    He has plans to use these new skills to build out a business producing new applications.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'toby.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tobias Pasquale</h2>
      <br />
      <p>
        Tobias Pasquale is a professional technical program manager for Amazon.com. He specializes in database development, new tool develop and life cycle managment. Previously, he was a digital tech lead for Amazon.com and a Catalog Analyst for Google.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />